.detailsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.detailsList td{
  margin: 0;
  border: .1rem solid gray;
}
.detailsList button {
  margin: 0;
  width: 100%;
}

.detailsList .tableList {
  width: 100%;
  background-color: rgb(206, 206, 206);
}

.detailsList .loadButton {
  border-style: none;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0);
  color: white;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0);
  width: 80%;
  margin-bottom: 1rem;
  text-align: center;
  background-color: lightseagreen;
}

/* @media screen and (min-width: 512px) {
  .detailsList .detailList {
  }
}

@media screen and (min-width: 768px) {
  .detailsList .detailList {
  }
} */
