.DetailsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.DetailsList .TableList {
  background-color: rgb(206, 206, 206);
}

.DetailsList .LoadButton {
  border-style: none;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0);
  color: white;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0);
  width: 80%;
  margin-bottom: 1rem;
  text-align: center;
  background-color: lightseagreen;
}

@media screen and (min-width: 512px) {
  .DetailsList .DetailList {
  }
}

@media screen and (min-width: 768px) {
  .DetailsList .DetailList {
  }
}
