@media (max-width: 600px) {
  .filterbar{
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 0 0 10rem rgba(0,0,0);
    height: 100%;
  }
}
.filterbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  height: 87dvh;
  overflow-x: hidden;
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(59, 71, 77);
  border-radius: .5rem;
}

.filterbar hr{
  width: 85%;
  border-radius: 100%;
}

.filterbar:disabled {
  animation: hideAnim .5s ease-in both;
}

@keyframes hideAnim {

  0%{
    transform: translateX(0px);
  }

  100%{
    transform: translateX(100%);
  }
}
@keyframes unHideAnim {

  0%{
    transform: translateX(0px);
  }

  100%{
    transform: translateX(100%);
  }
}