.detailsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
  width: 100%;
  height: 90dvh;
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(59, 71, 77);
  border-radius: .5rem;
}

.detailsList table, th, td {
  border-collapse: collapse;
}

.detailsList button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 100%;
}

.detailsList .tableList {
  width: 100%;
  
}

.detailsList .loadButton {
  border-style: none;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0);
  color: white;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0);
  width: 80%;
  margin-bottom: 1rem;
  text-align: center;
  background-color: lightseagreen;
}

.thType{
  width: 4rem;
}

/* @media screen and (min-width: 512px) {
  .detailsList .detailList {
  }
}

@media screen and (min-width: 768px) {
  .detailsList .detailList {
  }
} */
