.Header {
    display: flex;
    width: 100%;
    background-color: antiquewhite;
  }

.Title {
  margin-left: 1rem;
}

.Return {
  align-self: center;
  
  font-size: 40px;
  margin: 0rem 1rem 0rem 2.5rem;
}

.Filter {
  align-self: center;
  font-size: 30px;
  margin: 0rem 2rem 0rem auto;
}