
.tdImg {
  padding: 0;
  width: 1.5rem;
}

.thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
}

.thumbnail img {
  width: 2.5rem;
}

.types {
  display: flex;
  align-items: center;
  justify-content:center;
}

.type-icon{
  display: flex;
  width: 2rem;
}

.type-icon img{
  width: 100%;
}