.App{
  margin: auto;
}

@keyframes sizing {
  0% {
    transform: scale(100%);
    box-shadow: 0 .08rem .2rem rgba(0,0,0);
  } 
  100% {
    transform: scale(102%);
    box-shadow: 0 .08rem .3rem rgba(0,0,0);
  }
}

@media screen and (min-width:1000px) {
  .App{
    max-width: 1000px;
  }
}